<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" [routerLink]="((accountService.currentUser$ | async) ? '/dashboard' : '/')"
         routerLinkActive="active">Delivery Service</a>

        <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
            <a class="dropdown-toggle text-light text-decoration-none ms-2" dropdownToggle>Welcome {{user.username}}</a>
            <div class="dropdown-menu" *dropdownMenu>
              <a class="dropdown-item" (click)="logout()">Logout</a>
            </div>
          </div>

        <ng-container >
            <div class="me-2" *ngIf="!(accountService.currentUser$ | async)">
                <button class="btn btn-success btn-sm me-2" type="button" routerLink="/login">Sign In</button>
                <button class="btn btn-secondary btn-sm" type="button" routerLink="/register">Sign Up</button>
            </div>
        </ng-container>
        
    </div>
</nav>
